:root{
--purple: purple;



}

.upper{
    font-size: 15px;
    width: 680px;
    text-align: center;
}


header {
    text-align: center;
    font-size: 45px;
   color: var(--purple);
}

body {
    background-image: linear-gradient var(--purple);
}

.heading{
    justify-content: center;
    display: flex;
    color: var(--purple);
    padding-bottom: 15px;
}




.up{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.inf{
margin-right: 15px;
margin-left: 15px;
margin-bottom: 43px;
width: 300px;
border: dashed 2px var(--purple)
}