:root{
--purple: purple;



}

.upper{
    font-size: 18px;
    width: 700px;
    text-align: center;
}


header {
    text-align: center;
    font-size: 45px;
   color: var(--purple);
}

body {
    background-color: var(--main-bg-color);
}

.heading{
    justify-content: center;
    display: flex;
    color: var(--main-bg-color);
    padding-bottom: 10px;
}

.detail {
    font-size: 18px;
    width: 670px;
}